build: false

environment:
  matrix:

    # For Python versions available on Appveyor, see
    # https://www.appveyor.com/docs/windows-images-software/#python
    # The list here is complete (excluding Python 2.6, which
    # isn't covered by this document) at the time of writing.

#    - PYTHON: "C:\\Miniconda3-x64"
#      PYTHON_VERSION: "3.6.x"
#      PYTHON_ARCH: "64"
#      SKLEARN_VERSION: "0.22"

    - PYTHON: "C:\\Miniconda3-x64"
      PYTHON_ARCH: "64"

install:
  # Prepend miniconda installed Python to the PATH of this build
  # Add Library/bin directory to fix issue
  # https://github.com/conda/conda/issues/1753
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PYTHON%\\Library\\bin;%PATH%"
  # install the dependencies
  - "conda install --yes -c conda-forge pip pytest"
  - pip install codecov nose pytest-cov
  - pip install .

test_script:
  - mkdir for_test
  - cd for_test
  - pytest -v --cov=tscv --pyargs tscv

after_test:
  - cp .coverage %APPVEYOR_BUILD_FOLDER%
  - cd %APPVEYOR_BUILD_FOLDER%
  - codecov
